<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite" parallel="tests" thread-count="1" >


    <test name="sendFaxDataFromPortal">
        <classes>
            <class name ="testng.LoginTestStepsTestNG"/>
        </classes>
    </test>

    <test name="splitPageFromPortal">
        <classes>
            <class name ="testng.PageSplitSteps"/>
        </classes>
    </test>


</suite>