<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite" parallel="tests" thread-count="1" >


    <test name="sendFaxDataFromPortal">
        <classes>
            <class name ="testng.LoginTestStepsTestNG_1_100"/>
        </classes>
    </test>

    <test name="FaxSentandRecvVerification">
        <classes>
            <class name ="testng.FaxSentWithandwithoutCoverpage"/>
        </classes>
    </test>
    <test name="portFaxNumberRequest">
        <classes>
            <class name ="testng.PortFaxNumberNontollfree"/>
        </classes>
    </test>

    <test name="New_Fax_Number_request_Non_toll_free">
        <classes>
            <class name ="testng.FaxNumberRequestNonTollFree"/>
        </classes>
    </test>

    <test name="OutboundandInboundVerification">
        <classes>
            <class name ="testng.FaxSendRecvVerification"/>
        </classes>
    </test>

    <test name="splitPageFromPortal">
        <classes>
            <class name ="testng.PageSplitSteps_1_100"/>
        </classes>
    </test>
    <test name="Specify_Reference_Keywords">
        <classes>
            <class name ="testng.RefercKeywords"/>
        </classes>
    </test>
    <test name="SendingWelcomeMail">
        <classes>
            <class name ="testng.WelcomeMailSteps_1_100"/>
        </classes>
    </test>
    <test name="Create_User_portal">
        <classes>
            <class name ="testng.Create_User"/>
        </classes>
    </test>
    <test name="Create_Department">
        <classes>
            <class name ="testng.CreateDepartment"/>
        </classes>
    </test>
    <test name="DepartmentAdminUserTable">
        <classes>
            <class name ="testng.UserTable_Departments"/>
        </classes>
    </test>
    <test name="SendFaxWithAttachments">
        <classes>
            <class name ="testng.Send_fax_with_Attachment_in_iteration"/>
        </classes>
    </test>
    <test name="ReprocessDocConversionPortal">
        <classes>
            <class name ="testng.ReprocessDocConversion"/>
        </classes>
    </test>
    <test name="ResendFailedFaxPortal">
        <classes>
            <class name ="testng.Resend_Failed_Fax"/>
        </classes>
    </test>
    <test name="SFTP_push_Server">
        <classes>
            <class name ="testng.SFT_Push"/>
        </classes>
    </test>

    <test name="sendFaxHasOCRdata">
        <classes>
            <class name ="testng.OCR_test"/>
        </classes>
    </test>
    <test name="sendFaxForPDFScale">
        <classes>
            <class name ="testng.PdfScale_1_100"/>
        </classes>
    </test>
    <test name="SSO_User">
        <classes>
            <class name ="testng.SSO"/>
        </classes>
    </test>
    <test name="SingleSing_ON">
        <classes>
            <class name ="testng.Single_sing_ON_Portal"/>
        </classes>
    </test>
    <test name="Client_License_data_edit">
        <classes>
            <class name ="testng.Client_License_data"/>
        </classes>
    </test>
    <test name="Email_address_change_email_Notification">
        <classes>
            <class name ="testng.User_invalid_Email_password_notification"/>
        </classes>
    </test>
    <test name="Allow_User_to_specify_recipient_name">
        <classes>
            <class name ="testng.Specify_recipient_name"/>
        </classes>
    </test>
    <test name="optionally_specify_to_and_company_when_s_ending_a_fax">
        <classes>
            <class name ="testng.SpecifyToandCompanyName"/>
        </classes>
    </test>
    <test name="Add_Triage_field">
        <classes>
            <class name ="testng.Triage_field"/>
        </classes>
    </test>

    <test name="Settings_FaxSearchPageRadio_btn_check">
        <classes>
            <class name ="testng.Settings_FaxSearchPage"/>
        </classes>
    </test>

</suite>