<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite" parallel="tests" thread-count="1" >


    <test name="sendFaxDataFromPortal">
        <classes>
            <class name ="testng.LoginTestStepsTestNG_1_100"/>
        </classes>
    </test>

    <test name="FaxSentandRecvVerification">
        <classes>
            <class name ="testng.FaxSentWithandwithoutCoverpage"/>
        </classes>
    </test>
    <test name="portFaxNumberRequest">
        <classes>
            <class name ="testng.PortFaxNumberNontollfree"/>
        </classes>
    </test>

    <test name="New_Fax_Number_request_Non_toll_free">
        <classes>
            <class name ="testng.FaxNumberRequestNonTollFree"/>
        </classes>
    </test>

    <test name="OutboundandInboundVerification">
        <classes>
            <class name ="testng.FaxSendRecvVerification"/>
        </classes>
    </test>

    <test name="splitPageFromPortal">
        <classes>
            <class name ="testng.PageSplitSteps_1_100"/>
        </classes>
    </test>
    <test name="Specify_Reference_Keywords">
        <classes>
            <class name ="testng.RefercKeywords"/>
        </classes>
    </test>
    <test name="SendingWelcomeMail">
        <classes>
            <class name ="testng.WelcomeMailSteps_1_100"/>
        </classes>
    </test>
    <test name="Create_User_portal">
        <classes>
            <class name ="testng.Create_User"/>
        </classes>
    </test>
    <test name="ReprocessDocConversionPortal">
        <classes>
            <class name ="testng.ReprocessDocConversion"/>
        </classes>
    </test>

    <test name="sendFaxHasOCRdata">
        <classes>
            <class name ="testng.OCR_test"/>
        </classes>
    </test>
    <test name="sendFaxForPDFScale">
        <classes>
            <class name ="testng.PdfScale_1_100"/>
        </classes>
    </test>
    <test name="SSO_User">
        <classes>
            <class name ="testng.SSO"/>
        </classes>
    </test>

</suite>